/*Custom carousel settings*/
.customcarousel {
  position: relative;
  width: clamp(200px, 95vw, 1300px);
  height: clamp(400px, 60vw, 500px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.track {
  position: relative;
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 320px;

  transform: translate(-50%, -50%);
  transform-origin: center;

  transition:
    transform 0.45s ease,
    opacity 0.45s ease;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/*Item specific stuff*/
.item.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 3;
}

.item.prev {
  transform: translate(-140%, -50%) scale(0.75);
  opacity: 0.5;
  z-index: 2;
}

.item.next {
  transform: translate(40%, -50%) scale(0.75);
  opacity: 0.5;
  z-index: 2;
}

.item.hidden {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

/*Make the arrows show up too*/
.arrow {
  background: none;
  border: none;
  font-size: 3rem;
  color: #aaa;
  cursor: pointer;
  z-index: 10;
}

.arrow:hover {
  color: white;
}